.header-wrapper{
    // background-color: aqua;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.header-Div{
    height: 10vh;
    .header-col-height{
        height:100%;
    }
}
.sidebar-container{
    width: 20%;
    // background-color:aqua;
}
.class-navBar{
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // .a-tag-padding{
    // }
    a{
        padding: 20px;
        text-decoration: none;
        display: flex;
        gap: 1rem;
    }
    .nav-link {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .nav_bar_txt {
        color: gray;
        // padding: 0px!important;
        margin: 0px;
    }
    .icon-color {
        color: rgb(7, 219, 219);
    }
    .active {
        background-color: aquamarine;
        // color: black!important;
    }
}

.header-wrapper {
    p {
        margin: 0px!important;
    }
}

.profile {
    display: flex;
    align-items: center;
    gap:0.5rem;
    img {
        height: 45px;
        width: 50px;
        border-radius: 50%;
    }
    .profile_name {
        font-size: 18px;
    }
    .gray-color {
        color: gray;
    }
}
.right-header {
    display: flex;
    align-items: center;
    gap:1.5rem;
    .IoNotifications {
        color: rgb(7, 219, 219);
    }
}

.sidebar-container {
    display: flex;
    // background-color: aquamarine;
    width: 100%;
    .sidebar-content {
        // background-color: antiquewhite;
        width: 20%;
    }
    .right-content {
        background-color: lightgrey;
        height: 90vh;
        width: 80%;
    }
}
.rightContent {
    // background-color: aqua;
    display: flex;
    // height: 90%;
    // justify-content: space-between;
    padding-top: 40px;
    .new-feed-content {
        // background-color: rgb(60, 107, 91);
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        padding-left: 20px;
        width: 60%;
        // height: 84.6vh;
        // overflow-y: scroll;
        .news-feedOne{
            padding-left: 20px;
            padding-right: 12px;
            width: 100%;
            height: 75.8vh;
            margin-top: 15px;
            overflow-y: scroll;
        }
        .news-top-space {
            margin-top: 18px;
        }
        .new-feed-heder {
            display: flex;
            align-items: center;
            // background-color: black;
            padding-right: 20px;
            // padding-bottom: 20px;
            width: 100%;
            justify-content: space-between;
        }
        .new-sub-heder {
            display: flex;
            align-items: center;
            gap: 30px;
            // background-color: black;
            .filter {
                padding: 13px 35px;
                border: 1px solid gray!important;
                border-radius: 8px;
                background-color: lightgray;
                color: gray;
            }
            .plus {
                font-size: 35px;
                left: 8px;
                bottom: 1px;
                position: absolute;
            }
            button {
                position: relative;
                display: flex;
                align-items: center;
                // justify-content: center;
                background-color: rgb(27, 176, 176);
                padding: 13px 20px 13px 35px;
                border-radius: 8px;
                font-size: 16px;
                color: #fff;
                border: none;
            }
            .margin-bottom-style {
                margin-bottom: 0px!important;
            }
        }
        .news-post {
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 13px 15px;
            .post-profile {
                display: flex;
                align-items: center;
                // gap: 18px;
                .tag {
                    // background-color: rgb(43, 81, 68);
                    display: flex;
                    align-items: center;
                }
                .tag-text {
                    display: flex;
                    align-items: center;
                    background-color: rgb(124, 207, 236);
                    border: 1px solid rgb(18, 171, 227);
                    margin-top: 0px;
                    font-size: 10px;
                    padding: 2px 20px;
                    border-radius: 10px;
                }
                img {
                    height: 40px;
                    width: 45px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
        .image-content {
            background-color: #bcbcbc;
            img {
                height: 300px;
            }
        }
        .Modal-description {
            background-color: #fff;
            text-align: left;
            padding: 15px 25px 40px;
        }
    }
    .top-like-content {
        width: 40%;
        // display: flex;
        // text-align: left;
        padding-left: 12px;
        .top-header {
            text-align: left;
            padding-bottom: 28px;
        }
        .sub-topPost-content {
            background-color: #fff;
            padding: 15px 13px;
            height: 75vh;
            overflow-y: scroll;
            .like-top-space {
                margin-top: 15px;
            }
            .top-liked-posts {
                border: 0.1rem solid gray;
                border-radius: 8px;
                .activity {
                    display: flex;
                    padding-left: 25px;
                    font-size: 18px;
                    gap: 15px;
                    padding-top: 13px ;
                    font-weight: 500;
                }
                .top-like-profile-pic {
                  height: 40px;
                  width: 45px; 
                  border-radius: 50%;
                  object-fit: cover; 
                }
                .carModel {
                    padding-top: 10px;
                    img {
                        height: 130px;
                        width: 93%;
                        object-fit: cover;
                        border-radius: 10px;
                        // padding-top: 10px;
                    }
                }
                .top-like-post-desc {
                    font-size: 14px;
                    text-align: left;
                    padding: 8px 16px 25px;
                }
            }
            .top-like-news {
                display: flex;
                align-items: center;
                padding: 10px;
            }
        }
    }
    .news-header {
        font-size: 1.8rem;
        font-weight: 600;
    }

}
.margin_p {
    margin: 0px!important;
}
.profile-details {
    text-align: left;
    padding: 0px 0px 0px 10px;
    // background-color: antiquewhite;
}
.profile_name {
    font-weight: bold;
    // padding: 0px 10px;
    font-size: 18px;
}
.timing {
    font-size: 14px;
    // padding: 0px 5px;
}
.popUp {
    position: absolute!important;
    top: 0;
    z-index: 2;
}
::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar-track {
    // background-color: #ececec
}
::-webkit-scrollbar-thumb {
    background-color: #8d8d8d;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #767676;
}

.model-sub-header {
    font-size: 1rem;
    color: #8d8d8d;
}